* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Young Serif", serif;
}

.container {
    padding: 50px;
}

.section-one {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.section-one__contact {
    background-color: orangered;
    color: whitesmoke;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    margin-top: 10px;
}

.section-one__name {
    font-size: 60px;
}

.section-one__role {
    font-size: 40px;
    margin-top: 10px;
}

.section-2,
.section-3,
.section-4,
.section-5 {
    margin-top: 20px;
}

.section-2__desc,
.section-3__desc,
.section-4__desc,
.section-5__desc {
    margin-top: 10px;
}

.section-5 {
    background-color: black;
    color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
}

.section-5__title a {
    color: skyblue;
}

.section-3 li,
.section-4 li {
    list-style: none;
}

.section-3 {
    background-color: #6462fd;
    color: black;
    padding: 20px;
    display: inline-block;
    height: 250px;
    border-radius: 10px;
    vertical-align: top;
}

.section-4 {
    background-color: #fe7517;
    color: black;
    padding: 20px;
    display: inline-block;
    height: 250px;
    border-radius: 10px;
    vertical-align: top;
}

.section-3__title,
.section-4__title {
    text-decoration: underline;
}

.contact-form{
    margin-top: 20px;
}

.contact-form__input,.contact-form__textarea,.contact-form__submit{
    margin-top: 10px;
    vertical-align: top;
}

.contact-form__input{
    padding: 20px;
    border: none;
    border-bottom: solid black 1px;
}

.contact-form__textarea{
    padding: 20px;
    border: none;
    border-bottom: solid black 1px;
}

.contact-form__submit{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: orangered;
    color: black;
    border: none;
}
